/*-- based off manbun framework --*/

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400');
html,
h1,
h2,
h3,
h4,
p {
    font-family: 'Merriweather', serif;
}
body {
    background: #C9C5AD;
}
/* Fontawesome Navigation */

.menu {
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    background-color: #333;
    text-align: center;
    z-index: 9999;
}
.menu a {
    color: white;
    display: block;
    padding: 12px;
    font-size: 20pt;
    text-decoration: none;
}
.menu a:hover {
    background-color: #ccc;
    color: #333;
}
.menu-image {
    width: 150px;
    height: 150px;
}
/* main */

.block {
    background: white;
    width: auto;
    display: block;
    margin-left: 150px;
    padding: 15px;
}
table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
}
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
}
th,
td {
    padding: 15px;
    font-size: 12pt;
}
ul,
li {
    font-size: 10pt;
}
/* color background with text */

.ared {
    background: #E34242;
    color: white;
}
.ablue {
    background: #427DE3;
    color: white;
}
.agreen {
    background: #42E34F;
    color: white;
}
.ateal {
    background: #42E3A3;
    color: white;
}
.apurple {
    background: #8A42E3;
    color: white;
}
.aorange {
    background: #E39842;
    color: white;
}
/* progress */

progress[value] {
    width: 100%;
    height: 30px;
}
/* mobile */

@media screen and (max-width: 800px) {
    .menu {
        width: 50px;
    }
    .menu a {
        font-size: 16pt;
    }
    .menu-image {
        width: 50px;
        height: 50px;
    }
    .block {
        margin-left: 50px;
    }
    th,
    td {
        padding: 5px;
        font-size: 8pt;
    }
}
